[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "vismeteor"]
	path = vismeteor
	url = https://github.com/jankorichter/vismeteor
